<!DOCTYPE html>
<html lang="es">
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: #0b2141;">
      <div class="container-fluid container-xxl d-flex align-items-center">
        <div id="logo" class="me-auto">
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">ANIEI | <span>UAQ</span></a></h1> -->
          <a href="index.html" class="scrollto">
            <img src="/src/assets/img/ceatycc-logo.svg" />
          </a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="#/?section=hero">Bienvenida</a>
            </li>
            <li><a class="nav-link scrollto" href="#/?section=about">Acerca de</a></li>
            <!-- <li><a class="nav-link scrollto" href="#speakers">Speakers</a></li> -->
            <li><a class="nav-link scrollto" href="#/?section=schedule">Programa</a></li>
            <li><a class="nav-link scrollto" href="#/?section=venue">Locación</a></li>
            <!-- <li><a class="nav-link scrollto" href="#hotels">Hotels</a></li> -->
            <!-- <li><a class="nav-link scrollto" href="#gallery">Galería</a></li> -->
            <li>
              <a class="nav-link scrollto" href="#/?section=supporters">Participantes</a>
            </li>
             <li>
              <a class="nav-link scrollto" target="_blank" href="https://portalinformatica.uaq.mx/ceatycc/">Registro</a>
            </li>
            <li>
              <a class="nav-link scrollto" target="_blank" href="">Convocatoria</a>
            </li>
            <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->
            <li><a class="nav-link scrollto" href="#/?section=contact">Contacto</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
        <!-- <a class="buy-tickets scrollto" href="#buy-tickets">Buy Tickets</a> -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section class="hero" id="hero" style="background: url(/src/assets/img/hero-bg-2026.jpg) top center;">
      <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <!-- <h1 class="mb-4 pb-0">
          <span>XXXII</span> REUNIÓN NACIONAL DE <br />
          DIRECTIVOS Y LÍDERES ESTRATÉGICOS <br />
          DE ESCUELAS EN
          <span
            >INFORMÁTICA <br />
            Y COMPUTACIÓN</span
          >
          2023
        </h1> -->
        <div class="row col-12" style="justify-content: end">
          <img src="/src/assets/img/ceatycc-hero-logo.svg" class="img-secondary" />
        </div>
        <img src="/src/assets/img/title-hero-2026.svg" class="main-logo" />
        <p class="mb-4 pb-0">
          <span>19 y 20 de marzo 2026</span> | Secretaría de Educación del Poder
          Ejecutivo del Estado de Querétaro
        </p>
        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
        <a href="#about" class="about-btn scrollto">Acerca del evento</a>
      </div>
    </section>
    <!-- End Hero Section -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h3>OBJETIVO</h3>
              <p>
                Promover el intercambio de conocimientos, experiencias y mejores
                prácticas entre instituciones educativas, empresas tecnológicas
                y especialistas con el fin de impulsar la innovación educativa a
                través del uso de tecnologías avanzadas y servicios en la nube.
              </p>
            </div>
            <div class="col-lg-3">
              <h3>¿DÓNDE?</h3>
              <p>
                BLOQUE Centro de Innovación y Tecnología Creativa. Santiago de
                Querétaro, Querétaro.
              </p>
            </div>
            <div class="col-lg-3">
              <h3>¿CUÁNDO?</h3>
              <p>
                Jueves 19 de marzo y <br />
                Viernes 20 de marzo de 2026
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Slider Section ======= -->
      <section class="slider" data-aos="zoom-in">
        <div class="logos-slide">
          <img src="/src/assets/img/gallery/Secretaria-de-educación-Queretaro.png" />
          <img
            src="/src/assets/img/gallery/Secretaria-de-Turismo-del-Estado-de-Queretaro.png"
          />
          <img
            src="/src/assets/img/gallery/Secretaria-de-Turismo-del-Estado-de-Queretaro-Contigo.png"
          />
          <img src="/src/assets/img/gallery/logo-ceatycc-02.png" />
        </div>

        <div class="logos-slide">
          <img src="/src/assets/img/gallery/Secretaria-de-educación-Queretaro.png" />
          <img
            src="/src/assets/img/gallery/Secretaria-de-Turismo-del-Estado-de-Queretaro.png"
          />
          <img
            src="/src/assets/img/gallery/Secretaria-de-Turismo-del-Estado-de-Queretaro-Contigo.png"
          />
          <img src="/src/assets/img/gallery/logo-ceatycc-02.png" />
        </div>
      </section>
      <!-- ======= End Slider Section ======= -->

      <!-- ======= Speakers Section ======= -->
      <!-- <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Event Speakers</h2>
          <p>Here are some of our speakers</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Brenden Legros</a></h3>
                <p>Quas alias incidunt</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Hubert Hirthe</a></h3>
                <p>Consequuntur odio aut</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="assets/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Cole Emmerich</a></h3>
                <p>Fugiat laborum et</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Jack Christiansen</a></h3>
                <p>Debitis iure vero</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
                <p>Qui molestiae natus</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="assets/img/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Willow Trantow</a></h3>
                <p>Non autem dicta</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>End Speakers Section -->

      <!-- ======= Schedule Section ======= -->
      <section id="schedule" class="section-with-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Programa del evento</h2>
            <p>¡No te pierdas de ninguna de las actividades!</p>
          </div>

          <ul
            class="nav nav-tabs"
            role="tablist"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#day-1"
                role="tab"
                data-bs-toggle="tab"
                >19 de marzo</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab"
                >20 de marzo</a
              >
            </li>
          </ul>

          <!-- <h3 class="sub-heading">¡Próximamente!</h3> -->

          <div
            class="tab-content row justify-content-center"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <!-- Schdule Day 1 -->
            <div
              role="tabpanel"
              class="col-lg-9 tab-pane fade show active"
              id="day-1"
            >
             
              <div class="row schedule-item">
                <div class="col-md-3"><time>08:00 - 09:00</time></div>
                <div class="col-md-9">
                  <h4>Ceremonia de inauguración</h4>
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>09:00 - 10:00</time></div>
                <div class="col-md-9">
                  <h4>Construyendo agentes de IA para automatizar y gestionar procesos de trabajo</h4>
                  <p>FDr. Chieng Moua</p>
                  <p><a target="_blank" href="">Semblanza</a></p>
                  
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>10:20 - 11:10</time></div>
                <div class="col-md-9">
                  <h4>
                    Foro: Mujeres en STEM
                  </h4>
                  <p>Egresadas de Universidades de Querétaro</p>
                
                  <hr />
                  <h4>Tecnología que transforma vidas: IA y accesibilidad educativa</h4>
                  <p>MIP. Rodrigo Ortiz Sánchez</p>
                  <p><a target="_blank" href="">Semblanza</a></p>
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>11:10 - 12:00</time></div>
                <div class="col-md-9">
                  <h4>
                   
                  </h4>
                  <p></p>
                 
                 
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>12:20 - 14:00</time></div>
                <div class="col-md-9">
                  <h4>
                    Foro de Empresas
                  </h4>
                  
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>14:50 - 16:00</time></div>
                <div class="col-md-9">
                  <h4>R E C E S O</h4>
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>16:00 - 16:50</time></div>
                <div class="col-md-9">
                  <h4>
                    ¿Por qué la IA inventa respuestas? Entendiendo las alucinaciones en los modelos de lenguaje
                  </h4>
                  <p>Dr. Juan Ramón Terven</p>
                  <p><a target="_blank" href="">Semblanza</a></p>
                 
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>18:00 - 18:50</time></div>
                <div class="col-md-9">
                  <h4>Algoritmos en psicología positiva para la detección de riesgos en salud mental</h4>
                  <p>Dr. Jorge Raúl Palacios Delgado</p>
                  <p><a target="_blank" href="">Semblanza</a></p>
                 
                </div>
              </div>

                
              </div>

            </div>
            <!-- End Schdule Day 1 -->

            <!-- Schdule Day 2 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade" id="day-2" style="width: 100%; padding: 0 170px 0 170px ;">
             
              <div class="row schedule-item">
                <div class="col-md-3"><time>09:00 - 10:00</time></div>
                <div class="col-md-9">
                  <h4>Ciberseguridad</h4>
                  <p>Dr. Héctor Acevedo Juárez</p>
                   <p><a target="_blank" href="">Semblanza</a></p>
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>10:20 - 11:10</time></div>
                <div class="col-md-9">
                  <h4>¿Inteligencia Artificial o Racionalidad Artificial? 
                    <br>
                    La Era de las Máquinas que Deciden</h4>
                  <p>Dr. Ángel Ivan García Moreno</p>
                  <p><a target="_blank" href="">Semblanza</a></p>
                 
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>11:10 - 12:00</time></div>
                <div class="col-md-9">
                  <h4>Experiencia Internacional para Inspirar en Ingeniería</h4>
                  <p>Ing. Alejandra Medina</p>
                  <p><a target="_blank" href="">Semblanza</a></p>
                
                </div>
              </div>

            

              <div class="row schedule-item">
                <div class="col-md-3"><time>12:20 - 14:00</time></div>
                <div class="col-md-9">
                  <h4>Foro de Egresados en el Área de Tecnología</h4>
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>14:00 - 14:50</time></div>
                <div class="col-md-9">
                  <h4>
                    Cloud Computing como Habilitador de la Transformación Digital: de la Infraestructura a la Inteligencia
                  </h4>
                  <p>MEC. Jorge Alberto Izaguirre</p>
                  <p><a target="_blank" href="">Semblanza</a></p>
                
                </div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-3"><time>14:50 - 16:00</time></div>
                <div class="col-md-9">
                  <h4>R E C E S O</h4>
                </div>
              </div>

              

              <div class="row schedule-item">
                <div class="col-md-3"><time>18:50 - 19:40</time></div>
                <div class="col-md-9">
                  <h4>CLAUSURA</h4>
                </div>
              </div>
            </div>
            <!-- End Schdule Day 2 -->
          </div>
          
          </div>
        </div>
      </section>
      <!-- End Schedule Section -->

      <!-- ======= Venue Section ======= -->
      <section id="venue">
        <div class="container-fluid" data-aos="fade-up">
          <div class="section-header">
            <h2>Ubicación del evento</h2>
            <p>Información y mapa</p>
          </div>

          <div class="row g-0">
            <div class="col-lg-6 venue-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.815368943994!2d-100.42584132516276!3d20.636381180916572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35b54c12fa915%3A0xc9622c22bf116247!2sBLOQUE%20-%20Centro%20de%20Innovaci%C3%B3n%20y%20Tecnolog%C3%ADa%20Creativa!5e0!3m2!1sen!2smx!4v1746077167499!5m2!1sen!2smx"
                frameborder="0"
                style="border: 0"
                allowfullscreen
              ></iframe>
            </div>

            <div class="col-lg-6 venue-info">
              <div class="row justify-content-center">
                <div class="col-11 col-lg-8 position-relative">
                  <h3>BLOQUE Centro de Innovación y Tecnología Creativa</h3>
                  <p>
                    El evento se desarrollará en BLOQUE un centro de formación,
                    experimentación y desarrollo de proyectos enfocado en la
                    creatividad, tecnología y emprendimiento. Funciona como un
                    espacio físico en Querétaro, donde estudiantes,
                    profesionales, empresas y emprendedores se conectan para
                    adquirir herramientas, desarrollar ideas y lanzar soluciones
                    con impacto.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div> -->
      </section>
      <!-- End Venue Section -->

      <!-- ======= Hotels Section ======= -->
      <!-- <section id="hotels" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Hotels</h2>
          <p>Her are some nearby hotels</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="assets/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="#">Hotel 1</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p>0.4 Mile from the Venue</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
              </div>
              <h3><a href="#">Hotel 2</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill-half-full"></i>
              </div>
              <p>0.5 Mile from the Venue</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="assets/img/hotels/3.jpg" alt="Hotel 3" class="img-fluid">
              </div>
              <h3><a href="#">Hotel 3</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p>0.6 Mile from the Venue</p>
            </div>
          </div>

        </div>
      </div>

    </section>End Hotels Section -->

      <!-- ======= Gallery Section ======= -->
      <!-- <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a href="assets/img/gallery/1.jpg" class="gallery-lightbox"><img src="assets/img/gallery/1.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/2.jpg" class="gallery-lightbox"><img src="assets/img/gallery/2.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/3.jpg" class="gallery-lightbox"><img src="assets/img/gallery/3.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/4.jpg" class="gallery-lightbox"><img src="assets/img/gallery/4.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/5.jpg" class="gallery-lightbox"><img src="assets/img/gallery/5.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/6.jpg" class="gallery-lightbox"><img src="assets/img/gallery/6.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/7.jpg" class="gallery-lightbox"><img src="assets/img/gallery/7.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/8.jpg" class="gallery-lightbox"><img src="assets/img/gallery/8.jpg" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </section>End Gallery Section -->

      <!-- ======= Supporters Section ======= -->
      <section id="supporters" class="section-with-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Instituciones participantes</h2>
          </div>

          <div
            class="row no-gutters supporters-wrap clearfix"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/3.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/2.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/8.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/17.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/7.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/5.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/24.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/25.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
    
          </div>
          
          <div
            class="row no-gutters supporters-wrap clearfix"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/9.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/10.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/11.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/12.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/13.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/14.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/15.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/16.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

          </div>

          <div
            class="row no-gutters supporters-wrap clearfix"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/4.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/18.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/19.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/20.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/21.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/22.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/23.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/1.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>

             <div
            class="row no-gutters supporters-wrap clearfix"
            data-aos="zoom-in"
            data-aos-delay="100"
          > 
           <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="supporter-logo">
                <img
                  src="/src/assets/img/supporters/6.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
        </div>

        </div>
      </section>
      <!-- End Sponsors Section -->

      <!-- =======  F.A.Q Section ======= -->
      <!-- <section id="faq">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>F.A.Q </h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">

            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                  </p>
                </div>
              </li>

            </ul>

          </div>
        </div>

      </div>

    </section>End  F.A.Q Section -->

      <!-- ======= Subscribe Section ======= -->
      <!-- <section id="subscribe">
      <div class="container" data-aos="zoom-in">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
        </div>

        <form method="POST" action="#">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 d-flex">
              <input type="text" class="form-control" placeholder="Enter your Email">
              <button type="submit" class="ms-2">Subscribe</button>
            </div>
          </div>
        </form>

      </div>
    </section>End Subscribe Section -->

      <!-- ======= Buy Ticket Section ======= -->
      <!-- <section id="buy-tickets" class="section-with-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Buy Tickets</h2>
          <p>Velit consequatur consequatur inventore iste fugit unde omnis eum aut.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Standard Access</h5>
                <h6 class="card-price text-center">$150</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Community Access</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="standard-access">Buy Now</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Pro Access</h5>
                <h6 class="card-price text-center">$250</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="pro-access">Buy Now</button>
                </div>
              </div>
            </div>
          </div> -->
      <!-- Pro Tier -->
      <!-- <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Premium Access</h5>
                <h6 class="card-price text-center">$350</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Workshop Access</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>After Party</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="premium-access">Buy Now</button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div> -->

      <!-- Modal Order Form -->
      <!-- <div id="buy-ticket-modal" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Buy Tickets</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="#">
                <div class="form-group">
                  <input type="text" class="form-control" name="your-name" placeholder="Your Name">
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="your-email" placeholder="Your Email">
                </div>
                <div class="form-group mt-3">
                  <select id="ticket-type" name="ticket-type" class="form-select">
                    <option value="">-- Select Your Ticket Type --</option>
                    <option value="standard-access">Standard Access</option>
                    <option value="pro-access">Pro Access</option>
                    <option value="premium-access">Premium Access</option>
                  </select>
                </div>
                <div class="text-center mt-3">
                  <button type="submit" class="btn">Buy Now</button>
                </div>
              </form>
            </div> -->
      <!-- </div>/.modal-content -->
      <!-- </div>/.modal-dialog -->
      <!-- </div>/.modal -->

      <!-- </section>End Buy Ticket Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>¡Contáctanos!</h2>
            <p>Secretaría de Educación del Estado de Querétaro</p>
          </div>

          <div class="row contact-info">
            <div class="col-md-4">
              <div class="contact-address">
                <i class="bi bi-geo-alt"></i>
                <h3>Dirección</h3>
                <address>
                  Av. Luis Pasteur Sur 23, Centro. <br />
                  Querétaro, Querétaro. 76000
                </address>
              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-phone">
                <i class="bi bi-phone"></i>
                <h3>Teléfono</h3>
                <p><a href="tel:4422385114">442 238 5000</a></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-email">
                <i class="bi bi-envelope"></i>
                <h3>Correo</h3>
                <p>
                  <a href="mailto:jequintana@queretaro.gob.mx">jequintana@queretaro.gob.mx</a>
                </p>
              </div>
            </div>

            <div id="social-media">
              <a href="https://www.facebook.com/educacionqro/?locale=es_LA">
                <i
                  class="bi bi-facebook"
                  style="font-size: 1.5rem; color: #9195a2; margin: 2px"
                ></i>
              </a>
              <a href="https://www.instagram.com/educacionqueretaro/">
                <i
                  class="bi bi-instagram"
                  style="font-size: 1.5rem; color: #9195a2; margin: 2px"
                ></i>
              </a>
              <a href="https://x.com/educacionqro?lang=en">
                <i
                  class="bi bi-twitter"
                  style="font-size: 1.5rem; color: #9195a2; margin: 2px"
                ></i>
              </a>
              <a href="https://portal.queretaro.gob.mx/educacion/">
                <i
                  class="bi bi-globe"
                  style="font-size: 1.5rem; color: #9195a2; margin: 2px"
                ></i>
              </a>
            </div>
          </div>

          <!-- <div class="form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div> -->
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 footer-info">
              <div id="logo" class="me-auto">
                <h1>
                  <a href="index.html"
                    >SEDEQ |
                    <span
                      >Secretaría de Educación del Estado de Querétaro
                    </span></a
                  >
                </h1>
              </div>
              <p>
                Todos los logos y marcas registradas en este sitio son propiedad
                de sus respectivos propietarios. La información aquí dispuesta
                puede ser modificada con previo aviso a los participantes del
                evento. Este programa es público, ajeno a cualquier partido
                político. Queda prohibido el uso para fines distintos a los
                establecidos en el programa.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

   
  </body>
</html>